@tailwind base;
@tailwind components;
@tailwind utilities;


* {
  -ms-overflow-style: none;
}

::-webkit-scrollbar {
  display: none;
}

body {
  background-color: #dad9d9 !important;
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(to bottom,
      transparent,
      rgb(var(--background-end-rgb))) rgb(var(--background-start-rgb));
}